<div id="messages">
  <% @conversation.messages.each do |message| %>
    <% if message.body %>
      <div class="media">
        <div class="media-body">
          <h5 class="media-heading"><%= message.user.email.split('@')[0] %></h5>
          <p><%= message.body %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= form_for [@conversation, @message] do |f| %>
  <div class="form-group">
    <%= f.text_area :body, autofocus: true, placeholder: "Your message", class: "form-control", rows: 5 %>
  </div>

  
  <%= link_to 'Back to Inbox', conversations_path, class: "btn btn-primary pull-right"%>
  <%= f.submit "Send", class: "btn btn-primary pull-right" %>
<% end %>