<body class="<%= cookies[:theme] %>">

  <% if cookies[:theme] == "light" %>
    <%= link_to "Toggle Dark Theme", root_path(theme: "dark"), class:'like-button text-decoration-none p-2' %>
  <% else %>
    <%= link_to "Toggle Light Theme", root_path(theme: "light"), class:'like-button text-decoration-none p-2' %>
  <% end %>
  
  <%= yield %>

  <% if cookies[:theme] == "light" %>
    <style>
    *{color: black!important;}
    </style>
    <body style="background-color:#B0C19D;">
    <div class="row">
    <div class="col-md-4">
        <ul id="users" class="list-group">
          <li class="list-group-item list-group-item-primary">Users</li>
          <% @users.each do |user| %>
            <li class="list-group-item list-group-item-primary" data-searchstring="<%= user.email.split('@')[0]%>">
              <%= link_to user.email.split('@')[0], conversations_path(sender_id: current_user.id, receiver_id: user.id), method: :post %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-8">
        <ul class="list-group">
          <li class="list-group-item list-group-item-primary">Conversations</li>
          <% @conversations.each do |conversation| %>
            <li class="list-group-item list-group-item-primary" data-conversation-id="<%= conversation.id %>">
              <%= link_to conversation.recipient(current_user).email.split('@')[0], conversation_messages_path(conversation) %>
              <% if !conversation.unread_message_count(current_user).zero? %>
                <span class="badge"><%= conversation.unread_message_count(current_user) %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    </body>

  <%else%>
    <style>
    *{color: white!important;}
    </style>
   <body style="background-color:#121212;">
    <div class="row">
    <div class="col-md-4">
        <ul id="users" class="list-group">
          <li class="list-group-item">Users</li>
          <% @users.each do |user| %>
            <li class="list-group-item" data-searchstring="<%= user.email.split('@')[0]%>">
              <%= link_to user.email.split('@')[0], conversations_path(sender_id: current_user.id, receiver_id: user.id), method: :post %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-8">
        <ul class="list-group">
          <li class="list-group-item">Conversations</li>
          <% @conversations.each do |conversation| %>
            <li class="list-group-item" data-conversation-id="<%= conversation.id %>">
              <%= link_to conversation.recipient(current_user).email.split('@')[0], conversation_messages_path(conversation) %>
              <% if !conversation.unread_message_count(current_user).zero? %>
                <span class="badge"><%= conversation.unread_message_count(current_user) %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    </body>
  <%end%>
</body>