<div class="row justify-content-md-center profile-wrapper">
  <div class="col-md-4 text-center">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, height: 100, width: 100, class: "avatar-index rounded-circle" %>
    <% else %>
      <%= image_tag 'icon.png' %>
    <% end %>
  </div>
  <div class="col-md-8">
      <div class="row">
        <p class="email"><%= @user.email.split("@")[0] %></p><br>
      </div>
      <div class="row">
        <p class="username"><%= @user.name %></p><br>
      </div>
      <div class="row">
        <p class="username"><%= @user.bio %></p><br>
      </div>
      <% if current_user.id == @user.id %>
    <div class="row">
      <button type="button" class="btn btn-dark"><%= link_to "Create New Post", new_post_path, {:style=>'text-decoration: none; color: #000;', :class => "css_class"}%></button>
      <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal" style="margin-left: 15px">Settings</button>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div style="background-color: #121212" class="modal-header">
              <h1 class="modal-title" id="exampleModalLabel" style="font-size: 1.2em">Settings</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div  class="list-group text-center">
              <a href="<%= edit_user_path(current_user) %>" class="list-group-item list-group-item-action">Edit Profile</a>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action" %>
              <a href="#" class="list-group-item list-group-item-action" data-dismiss="modal">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%end%>

<% if current_user.id == @user.id %>
<div class="posts">
  <% Post.all.each do |post| %>
  <% if current_user.email == post.user.email %>
    <section class="post">
    <div class="wrapper">
      <%=link_to post_path(post) do %>
        <%= image_tag post.image, class: 'w-100'%>
      <% end %>
        <% end %>
</div>
    <% end %>
    <%else%>
    <% Post.all.each do |post| %>
  <% if @user.id == post.user.id %>
    <section class="post">
    <div class="wrapper">
      <%=link_to post_path(post) do %>
        <%= image_tag post.image, class: 'w-100' %>
      <% end %>
        <% end %>
          <% end %>

    <% end %>

</div>
     
   

