<h1>Home</h1>
<div class="posts">
  <% @posts.each do |post| %>
    <section class="post">
      <div class="user">
    <div class="avatar">
      <% if post.user.avatar.attached? %>
        <%= image_tag post.user.avatar, height: 50, width: 50, class: "avatar-index rounded-circle" %>
      <% else %>
        <%= image_tag 'icon.png' %>
      <% end %>
    </div>
    <div class="username">
       <%= link_to post.user.name, user_path(post.user), class: 'username' %>

    </div>
  </div>
      <section class="post">

  <% if post.image.attached? %>
  <%= image_tag post.image,class: 'w-100' %>
  <% end %>
<div class="description">
    <%= post.caption %>
        <%= button_to 'Like + Comments', post_likes_path(post), class:"like-button" %>


  </div>

    
</section>

    </section>
  <% end %>
</div>
